.ads-tab{
  background: $baner-color;
  display: none;
  width: calc(100% - 6rem);
  height: 3.2rem;
  align-items: center;
  color: $white;
  font-family: Poppins;
  font-size: 1.2rem;
  line-height: 1.4rem;
  position: fixed;
  z-index: 2;
  margin-top: -3.2rem;
  &__item{
    position: relative;
    display: flex;
    justify-content: center;
  }
}

